.banner {
   position: relative;
   text-align: center;
   color: #070211, #07021100;
   background-color: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
 }
 }
 
 
 .banner img {
   width: 1320PX;
   height: auto;
   border-radius: 16px;
   background-color: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
 }
 
 
 .banner-text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 24px; 
 }
 
 
 .banner-text h3 {
   /* /* color: #fff; */
   color: #FFF;
 text-align: center;

 font-size: 32px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;

 }
 .banner-text h1{
   color: #FFF;
 text-align: center;
 
 font-size: 72px;
 font-style: normal;
 font-weight: 900;
 line-height: 95px;
 width: 632px;
 
 }
 .discription{
   width: 1600px;
height:7335px;
background: #FFF;
text-align: center;
margin: auto;
/* background-image: url("resources/Vectorrr.png"); */
 }

.discription h1{
  
text-align: center;
font-family: Inter; 
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
 }
 .discription h4{
   color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
 }
 .discription h2{
   color: #070211;
   text-align: center;
   font-family: Inter;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
 }
 .discription h {

 }
 .join-btn{
   color: #FFF;
   text-align: center;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-transform: uppercase;
 }
 .Vectorrr h3 {
   color:red;
   font-family: Merriweather;
   font-size: 64px;
   font-style: normal;
   font-weight: 900;
   line-height: 88px; /* 137.5% */
   letter-spacing: 7.04px;
 }
 .vh{
   display: flex;
width: 319.83px;
height: 464.662px;
padding: 0.008px 0px 0px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
 }
 .Vectorrr header{
   color: #FFF;

font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
 }
 .Vectorrr-text{
   color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
 }
 .banners {
   width: 1320px;
   height: 600px;
   position: right;
   background-image: url('resources/Vectorrr.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
   background-size: cover; /* Adjust the background size as needed */
   color: white; /* Set text color to contrast with the background image */
   text-align: center; /* Center the text */
   padding: 100px; /* Add padding to the container for better readability */

flex-shrink: 0;
}

/* Style for the text elements */
.banners h1,  {
   margin: 0; 
   color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 242;
line-height: 88px; /* 137.5% */

width: 244px;

}
   .banners p{
      color: rgba(255, 255, 255, 0.80);
      font-family: Inter;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      width: 697px;
   }
}

/* Style for the button */
.banners button {
   
text-align: right;

font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
color: #FFFFFF;
}
